.header {
    display: flex;
    border-bottom: solid red 3px;
    /* justify-content: space-between; */
    flex-direction: row;
    
    
    
}

.logo {
    display: flex;
    /* justify-content: flex-start; */
    width: 45%;
    align-items: center;
    height: 65%;
    

}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    
 
}

.title {
    align-self: center;  
}

.one {
    text-align: center;
}

.guests-div {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}

.allContent {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.park-cards {
    /* display: flex; */
    border: 1px solid black;
    column-count: 3;
    
}